.flex {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}
scrollbar {
  display: none;
}

.carDetailsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.imdDetails {
  border-radius: 18.74px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.headContainerDetails {
  margin-bottom: 18px;
}

.titleContainerDetails {
  margin-bottom: 8px;
}

.titleDetails {
  margin-right: 16px;
}

.addressContainerDetails {
  margin-bottom: 16px;
}

.firstContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.textDetails {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--darkColor);
}

.idDetails {
  color: var(--grayColor);
}

.adressTextDetails {
  margin-right: 16px;
}

.iconDetails {
  width: 16px;
  height: 16px;
  stroke: var(--darkColor);
  margin-right: 2px;
}

.priceTextDetails {
  text-align: start;
  color: var(--accentColor);
  margin-bottom: 20px;
}

.listDetails {
  margin-bottom: 20px;
}

.itemDetails {
  margin-bottom: 10px;
}

.itemDetails:last-child {
  margin-bottom: 0px;
}

.accessoriesFunctionalitiesList {
  margin-bottom: 0px;
}

.secondaryContainer {
  width: auto;
}

@media (min-width: 768px) {
  .firstContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .imdDetails {
    height: 100%;
    margin-bottom: 0px;
  }

  .headContainerDetails {
    margin-bottom: 24px;
  }
}

@media (min-width: 1440px) {
  .carDetailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
  }

  .firstContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }

  .imdDetails {
    max-width: 640px;
    max-height: 512px;
  }

  .headContainerDetails {
    padding-top: 20px;
    margin-bottom: 68px;
  }

  .priceTextDetails {
    margin-bottom: 32px;
  }

  .listDetails {
    margin-bottom: 110px;
  }

  .itemDetails {
    margin-bottom: 16px;
  }

  .listDetailsLslast {
    margin-bottom: 0px;
  }
}
