.header {
  background-color: var(--headerColor);
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-left: 120px;
    padding-right: 120px;
  }
}
