.container {
  padding: 24px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 40px 60px 40px 60px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 84px 120px 124px 120px;
  }
}
