.calendarContainer {
  width: 286px;
  height: auto;
  border: 1px solid var(--accentColor);
  border-radius: 12px;
  position: relative;
  background: white;
  position: absolute;
  right: 0px;
  top: 40px;
}

.calendarContainer::before {
  content: '';
  position: absolute;
  top: -20px; /* Відступ вгору */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--accentColor) transparent;
}

.calendarContainer::after {
  content: '';
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: var(--darkColor);
  padding-top: 12px;
  padding: 12px;
}

.calendarBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarIcon {
  width: 24px;
  height: 24px;
  fill: var(--accentColor);
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-left: 12px;
  padding-right: 12px;
  gap: 2px;
}

.calendarDayHeader {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--accentColor);
}

.calendarDayNameHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: var(--grayColor);
}

.calendarDayContainer {
  padding-top: 12px;
  padding-bottom: 12px;
}

.calendarDay {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: var(--darkColor);
  width: 36px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.calendarDay:hover,
.calendarDay:focus {
  color: var(--backgroundColorSecondary);
  background-color: var(--accentColor);
}

.calendarDay + .calendarToday {
  color: var(--backgroundColorSecondary);
  background-color: var(--accentColor);
}

.calendarDisabled {
  color: var(--grayColor);
  cursor: auto;
}

.calendarSelected {
  color: var(--backgroundColorSecondary);
  background-color: var(--accentColor);
}
