:root {
  --darkColor: #101828;
  --grayColor: #8e929a;
  --grayLightColor: #dadde1;
  --accentColor: #3470ff;
  --hoverColor: #0b44cd;
  --headerColor: #f2f4f7;
  --whiteOriginColor: #ffffff;
  --backgroundColorSecondary: #f7f7f7;
  --boxShadow: 0 6px 8px rgba
    (52, 113, 255, 0.25);
}

body {
  background-color: var(
    --whiteOriginColor
  );
  font-family: Manrope;
}
.tle {
  color: #0b44cd;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
