.notFoundPage {
  background-color: var(--headerColor);

  border-top: 1px solid var(--grayLightColor);
  border-bottom: 1px solid var(--grayLightColor);
}

.notFoundTitle {
  padding: 24px;
}

.notFoundImg {
  margin: auto;
  border-radius: 24px;
  width: 50%;
  height: 85vh;
  background-image: url('../../img/NotFound_1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  margin-bottom: 24px;
}

::-webkit-scrollbar {
  display: none;
}
scrollbar {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .notFoundImg {
    background-image: url('../../img/NotFound_2x.jpg');
  }
}
